:root {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    line-height: 1.5;
  
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  
  
  body {
    margin: 0;
    display: block;
    font-family: inherit;
  }
  
  h1 {
    line-height: 1.1;
  }
  
  
  
  @media (prefers-color-scheme: light) {
    :root {
      color: hwb(0 0% 0%);
      background-color: #ffffff;
    }
   
    button {
      background-color: #f9f9f9;
    }
  }



::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
 *{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }